/**
 * 排序样式
 */

.l-table__sort {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.l-table__sort-icon {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin: 1px 0;
}

.l-table__sort-icon--asc {
  border-bottom: 5px solid var(--l-table-text-color-secondary);
}

.l-table__sort-icon--asc.is-active {
  border-bottom-color: var(--l-table-primary-color);
}

.l-table__sort-icon--desc {
  border-top: 5px solid var(--l-table-text-color-secondary);
}

.l-table__sort-icon--desc.is-active {
  border-top-color: var(--l-table-primary-color);
}

.l-table__header-cell--sortable {
  cursor: pointer;
}

.l-table__header-cell--sortable:hover {
  background-color: var(--l-table-row-hover-bg);
}

.l-table__header-cell--sorting {
  color: var(--l-table-primary-color);
}



